<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <!-- Console Output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5p %c{1} - %m%n"/>
        </Console>

        <!-- File Output: logs/logs.txt -->
        <RollingFile name="LogFile" fileName="logs/logs.txt"
             filePattern="logs/logs-%d{yyyy-MM-dd-HH-mm-ss}.log">
    <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%p] %c - %m%n"/>
    <Policies>
        <OnStartupTriggeringPolicy/>
    </Policies>
</RollingFile>

    </Appenders>

    <Loggers>

        <!-- Root logger = console + file -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>

    </Loggers>
</Configuration>
